{{< base}}
{{$content}}
<div class="container">
    <div class="card" style="max-width: 800px; margin: 0 auto;">
        {{#isEdit}}
        <h1>Edit Blog</h1>
        <form method="POST" action="/blogs/{{blog.id}}/edit">
        {{/isEdit}}
        
        {{^isEdit}}
        <h1>Create New Blog</h1>
        <form method="POST" action="/blogs">
        {{/isEdit}}
        
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="{{blog.title}}" required>
            </div>
            
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required>{{blog.description}}</textarea>
            </div>
            
            <button type="submit" class="btn">
                {{#isEdit}}Update Blog{{/isEdit}}
                {{^isEdit}}Create Blog{{/isEdit}}
            </button>
            
            {{#isEdit}}
            <a href="/blogs/{{blog.id}}" class="btn">Cancel</a>
            {{/isEdit}}
            {{^isEdit}}
            <a href="/blogs" class="btn">Cancel</a>
            {{/isEdit}}
        </form>
    </div>
</div>
{{/content}}
{{/ base}}